#RegistrationForm{
   
    margin-top: 15vh;
     height:  auto;
     width: 30vw;
     border-radius: 5%;
     padding-left: 30px;
     margin-left: 35vw;
     font-family: cursive;
     color: aliceblue;
     background-color: black;
 }