#Signinform{
    
    width: 40vw;
    height: 50vh;
    margin-top: 30vh;
    margin-left: 30vw;
    border-radius: 30px;
    text-align: center;
    background-color: black;
    font-family: cursive;
    color: aliceblue;
  
}
#btndiv{

    display: block;
    background-color: aqua;
}